= render 'shared/side'
.main
  .main__group.clearfix
    .main__group--name
      = @group.name
    = link_to edit_group_path(@group) do
      %button.main__group--edit Edit
    .main__group--member
      MEMBERS:
      - @group.users.each do |user|
        = user.name
  .main__messages
    = render @messages
  .main__footer
    .main__footer-form
      .main__footer-body
        = form_for [@group, @message], html: { class: 'new_message' } do |f|
          = f.text_field :content, class: 'message-box',placeholder: 'type a message'
          = f.label :image, class: 'upload-label' do
            = fa_icon 'image', class: 'fa'
            = f.file_field :image, class: 'upload-icon'
          = f.submit 'Send', class: 'send'
